/* joinus.css */
.form-radio {
    appearance: none;
    width: 12px;
    height: 12px;
    border: 2px solid #ccc;
    padding: 2px;
    pointer-events: auto;
}
.form-radio:checked {
    background-color:#aaa;
}
/*按钮*/
button {
    background-color: rgb(25, 38, 71);
    color: #eee;
}
button:hover {
    background-color: rgb(35, 48, 81);
    color: #fff;
    transform: scale(1.05);
}
#myForm, #myForm * {
    border-radius: 10px;
}
